/* ---------------------------------- */
/*        BARRE DE NAVIGATION         */
/* ---------------------------------- */

/* Styles pour les logos */
#LogoSoulEater img {
    max-width: 120px;
    /* Limite la largeur maximale */
    height: auto;
    /* Garde les proportions de l'image */
}

/* Alignement et padding du logo */
nav .site-logo {
    display: flex;
    align-items: center;
    /* Aligne le logo verticalement au centre */
    padding: 5px;
    /* Ajuste l'espace autour du logo si nécessaire */
}

/* Styles généraux pour la navigation */
nav {
    border-bottom: 1px solid #e5e5e5;
    /* Ligne subtile sous la barre de navigation */
    padding: 1rem 0;
    /* Espacement autour des éléments de navigation */
    background: transparent;
    /* Pour un fond transparent */
}

/* Styles pour les liens de la navigation */
nav ul {
    list-style: none;
    /* Enlève les puces */
    display: flex;
    /* Affichage flex pour aligner horizontalement les liens */
    justify-content: space-between;
    /* Espacement équitable entre les liens */
    padding: 0;
    /* Aucun padding par défaut */
    margin: 0;
    /* Aucune marge par défaut */
}

/* Styles pour chaque élément de liste dans la navigation */
nav ul li {
    padding: 10px 20px;
    /* Espacement autour de chaque lien */
}

/* Styles pour les liens */
nav ul li a {
    text-decoration: none;
    /* Enlève le soulignement des liens */
    color: #333;
    /* Couleur des liens */
    font-weight: bold;
    /* Texte en gras pour une meilleure lisibilité */
    transition: color 0.3s ease;
    /* Transition douce pour les changements de couleur */
}

/* Effet de survol sur les liens */
nav ul li a:hover {
    color: #0056b3;
    /* Change la couleur lors du survol */
}

/* Règles spécifiques aux petits écrans */
@media screen and (max-width: 768px) {
    nav ul {
        flex-direction: column;
        /* Pile les liens verticalement sur les petits écrans */
        padding: 0;
    }

    nav ul li {
        padding: 10px 0;
        /* Réduit l'espace entre les liens dans la navigation sur mobile */
    }

    nav .site-logo {
        justify-content: center;
        /* Centre le logo sur les petits écrans */
    }
}

/* Réinitialisation des marges pour le header */
header.position-absolute {
    top: 0;
    left: 0;
    width: 100%;
}

/* Responsive alignement du logo et des éléments de navigation */
.top-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* Styles de transition pour le fond de la barre de navigation lors du défilement */
nav.background-transparent-hightlight {
    background-color: rgba(255, 255, 255, 0.9);
    transition: background-color 0.3s ease;
}

nav.background-transparent {
    background-color: transparent;
}

/* Style spécifique pour les logos */
.logo-white {
    display: none;
}

.logo-dark {
    display: block;
}

/* Lorsque le fond de la navigation change, les logos changent également */
.sticky .logo-white {
    display: block;
}

.sticky .logo-dark {
    display: none;
}


/* ---------------------------------- */
/*            EN-TÊTE PRINCIPAL       */
/* ---------------------------------- */

.main-header {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #000;
}

.header-content {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgb(0, 0, 0);
}

.header-content img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    opacity: 0.9;
}

.header-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header-text h1 {
    font-size: 2.5rem;
    color: rgb(0, 0, 0);
}

.header-text p {
    font-size: 1rem;
    color: rgb(0, 0, 0);
    /* Couleur du texte */
}


/* ---------------------------------- */
/*            AUTOPORTRAIT            */
/* ---------------------------------- */

.about-section .presentation {
    margin-bottom: 40px;
    background-color: #ffffff;
}

.about-section .presentation p {
    font-size: 1.2em;
    line-height: 1.6;
    color: #333;
    margin: 0 auto;
    max-width: 800px;
}


/* ---------------------------------- */
/*            COMPÉTENCES             */
/* ---------------------------------- */


.skills-section {
    padding: 40px 0;
    background-color: #E6E6E6;
}

.section-title {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

.section-divider {
    width: 50px;
    height: 3px;
    background-color: #ff0000;
    margin: 20px auto;
}

.skills-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: flex-start;
}

.skills-list {
    flex-basis: 45%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.skill-item {
    display: flex;
    align-items: center;
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
    gap: 10px;
}

.skill-bar {
    flex-grow: 1;
    background-color: #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
}


.skill-level {
    height: 20px;
    background-color: #ff0000;
    border-radius: 20px;
}

.skill-item span {
    width: 150px; /* Adjust this width as needed */
    text-align: right;
    margin-right: 10px;
}

.cv-download {
    flex-basis: 45%;
    text-align: center;
}

.cv-image {
    max-width: 50%;
    height: auto;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.download-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #000000;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.download-button:hover {
    background-color: #0056b3;
}

/* ---------------------------------- */
/*         A PROPOS DE MOI            */
/* ---------------------------------- */

/* Styles pour la section À propos de moi */
.about-section {
    background-color: white;
    /* Ou toute autre couleur de fond appropriée */
    padding: 20px 0;
    /* Ajout de padding pour la section */
}

.container {
    max-width: 1200px;
    /* Ou la largeur maximale de votre choix */
    margin: 0 auto;
    /* Centre le conteneur */
    display: flex;
    justify-content: space-around;
    /* Espacement équitable entre les blocs */
    flex-wrap: wrap;
    /* Permet aux éléments de passer à la ligne sur petits écrans */
}

.info-block {
    flex-basis: 30%;
    /* Chaque bloc prend environ 30% de l'espace */
    margin-bottom: 20px;
    /* Espace entre les blocs */
    padding: 15px;
    border: 1px solid #000000;
    /* Bordure noire subtile */
    display: flex;
    flex-direction: column;
    /* Organise les enfants verticalement */
    align-items: center;
    /* Centre les enfants horizontalement */
    text-align: center;
    /* Centrage du texte */
}

/* Styles pour les images remplaçant les icônes */
.icon-image {
    width: 80px;
    /* Définit une largeur fixe pour toutes les images */
    height: auto;
    /* Maintient le ratio d'aspect */
    margin-bottom: 15px;
    /* Espace sous l'image */
}

.info-block h2 {
    font-size: 1.5rem;
    /* Taille pour les titres des blocs */
    margin-top: 10px;
    /* Espace au-dessus du titre si nécessaire */
}

.info-block p {
    font-size: 1rem;
    /* Taille de police pour le paragraphe */
    line-height: 1.6;
    /* Espacement des lignes pour une meilleure lisibilité */
}



/* ---------------------------------- */
/*            ME CONTACTER            */
/* ---------------------------------- */
.contact-section {
    padding: 40px 0;
    background-color: #f9f9f9;
}

.contact-content {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Ombre plus accentuée */
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    font-size: 1rem;
    margin-bottom: 5px;
    display: block;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
}

.submit-button {
    padding: 10px 20px;
    background-color: #ff0000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: #0056b3;
}


/* ---------------------------------- */
/*              PROJETS               */
/* ---------------------------------- */

.projects-section {
    padding: 40px 0;
    background-color: #f1f1f1;
    text-align: center;
}

.section-title {
    font-size: 3rem;
    margin-bottom: 20px;
}

.section-divider {
    margin-bottom: 40px;
}

.projects-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.project-item {
    width: calc(25% - 20px);
    /* Ajustement de la largeur en déduisant la marge */
    margin: 10px;
    position: relative;
    overflow: hidden;
}

.project-link {
    display: block;
    text-decoration: none;
}

.project-image {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

.project-image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    color: white;
    /* Applique la couleur blanche à tout le texte à l'intérieur de l'overlay */
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
}

.project-image-overlay h2,
.project-image-overlay h3,
.project-image-overlay p {
    color: white;
    /* Assure que les titres sont blancs */
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
    /* Ombre pour améliorer la lisibilité */
}

.project-item:hover .project-image {
    transform: scale(1.1);
    /* Mise à l'échelle de l'image lors du survol */
}

.project-item:hover .project-image-overlay {
    opacity: 1;
    /* L'overlay devient visible, mais sa taille reste inchangée */
}

/* PopUp */
.popup-modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.popup-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    text-align: center;
    border-radius: 10px;
}

.close-button {
    color: red;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: darkred;
    text-decoration: none;
    cursor: pointer;
}

/* ---------------------------------- */
/*               FOOTER               */
/* ---------------------------------- */

.footer-custom {
    background-color: #333;
    padding: 20px 0;
    color: #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 20px;
}

.footer-info {
    text-align: left;
    font-size: 0.875rem;
    color: #ccc;
}

.footer-info p {
    margin: 0;
}

.footer-social {
    display: flex;
    gap: 20px;
}

.footer-social a {
    display: inline-block;
    text-decoration: none;
}

.footer-social img {
    width: 30px;
    height: 30px;
    filter: grayscale(100%);
    transition: filter 0.3s ease;
}

.footer-social img:hover {
    filter: none;
}

@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        align-items: center;
    }

    .footer-info {
        text-align: center;
        margin-bottom: 10px;
    }

    .footer-social {
        justify-content: center;
    }
}